.App {
  text-align: center;
  padding-top: 50px;
  background-color: black;
  height: 100vh;
  width: 100vw;
  background:linear-gradient(black  , lightgreen);
}

input{
  height: 50px;
  background-color: black;
  border: 1px white solid;
  color: white;
  font-size: 23px;
  margin-bottom: 30px;
  border-radius: 25px;
  border: 4px lightgreen solid;
  padding-left: 30px;
  background:linear-gradient(lightgreen);

}

input:focus{
  border: none;
}

#container{
  color: darkgray;
  font-size: 38px;
  font-family: 'Allerta Stencil', sans-serif;
    font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
